/* Basic Form */
.wf-basic {
	font-size: .9rem;

	.wf-field {
		width: 100%;
	}

	.wf-field-wrap:not(.wf-field-wrap-type-section) {
		width: auto;
		padding: 1rem;
	}

	.wf-field-label-wrap {
		padding: .25rem 0 .5rem;
	}

	.wf-field-label-wrap-type-section {
		padding: .75rem;
	}

	// add border only to the root level section.
	>.wf-field-wrap-type-section {
		border-bottom: 1px solid #DDD;
	}

	.wf-field-label-type-section,
	.wf-field-heading {
		font-size: 1rem;
		font-weight: bold;
	}

	.wf-field-input-desc,
	.wf-field-label-desc {
		margin-top: .5rem;
	}

	.wf-field-label {
		font-weight: 600;
	}

	.wf-form-title,
	.wf_field_group_title {
		font-size: 1.4rem;
		line-height: normal;
		padding: .75rem 1.75rem;
	}

	.wf-field-wrap+.wf_field_group_title {
		margin-top: 30px;
	}

	.wf-field-type {

		&-text,
		&-email,
		&-number,
		&-url,
		&-password,
		&-datetime,
		&-textarea,
		&-select,
		&-image_src {
			font-size: .9rem;
			box-shadow: none;
			border: 1px solid #ddd;
			padding: .5rem .75rem !important;
			background-color: #EEE;

			&:active:not(:disabled),
			&:focus-visible:not(:disabled) {
				background-color: #FFF;
			}
		}

		&-select {
			padding: .46rem .75rem !important;
		}

		&-datetime {
			padding-left: 2.25rem !important;
			background-position: .75rem .95rem;
		}

		&-text,
		&-email,
		&-number,
		&-url,
		&-password,
		&-datetime,
		&-select,
		&-image_src {
			height: 40px;
		}

		&-number {
			max-width: 25rem;
		}
	}

	.wf-field-wrap-type {
		&-submit-bottom {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		&-submit {
			border-bottom: 1px solid transparent;

			input {
				padding: .5rem 1rem .5rem 1rem;
			}
		}
	}

	.wf-field-wrap.disabled {
		color: #999 !important;
		background-color: #f9f9f9;

		input {
			color: #999 !important;
		}
	}

	@media screen and (min-width:779px) {
		.wf-field-wrap:not(.wf-field-wrap-type-section) {
			padding: 2rem;
			display: flex;
			flex-wrap: nowrap;
		}

		.wf-field-wrap.wf-field-wrap-type-heading {
			padding-bottom: 0;
		}

		.wf-field-label-wrap:not(.wf-field-label-wrap-type-section) {
			flex: 300px 0 0;
		}

		.wf-field-input-wrap:not(.wf-field-input-wrap-type-section) {
			flex: 1 1 auto;
		}

		.wf-field-heading {
			padding-left: calc(300px + 2rem);
		}

		.wf-field-label-wrap-type-section {
			padding-left: calc(300px + 4rem);
		}

		.wf-form-title {
			padding-top: 20px;
		}

		// add padding only to the root level section label.
		>.wf-field-wrap-type-section>.wf-field-label-wrap-type-section {
			padding: 1.5rem;
		}

		&.wf-label-align-right {
			.wf-field-label-wrap:not(.wf-field-label-wrap-type-section) {
				text-align: right;
				padding-right: 2rem;
			}
		}
	}
}
