/* Global */
.wf_hidden,
.wf-hidden {
	display: none;
}

.wf-field,
.wf-field-wrap {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wf-field-wrap .wf-image-preview {
	width: auto;
	max-width: 100%;
}

.wf-field-desc-wrap,
.wf-field-desc-after-wrap {
	color: #999;
	font-size: 12px;
}
